*{
    margin: 0;
    padding: 0;
}
.brand{
    background-color: #cbb09c !important;
}
.brand-text{
    color: #cbb09c !important;
}
.red-text{
    color: red;
    font-size: 8px;
}
form{
    max-width: 460px;
    margin: 20px auto;
    padding: 20px;
}
